{% extends "MopaBootstrapBundle::base.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

 {% block head_script %}

     {% javascripts
     'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
     '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js'
     '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap/*.js'
     '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
     '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'

     %}
     <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}

     {% stylesheets
     '@MopaBootstrapBundle/Resources/public/sass/mopabootstrapbundle-3.2.scss'
     '@MopaBootstrapBundle/Resources/public/css/mopabootstrapbundle.css'

     %}
     <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
     {% endstylesheets %}

 {% endblock head_script %}

    {% block title %}Suppression{% endblock title %}

    {% block headline %}Suppression
    {% endblock %}

    {% block footer %}
        &nbsp;
    {% endblock footer %}


{% block content %}


    <p>suppression de {{ user.name}} ?</p>
    <form method="post">
        <button type="submit" class="btn btn-default">Oui</button>
    </form>

{% endblock %}
